.slider_parant {
  position: relative;
  .slider {
    margin-bottom: 50px;
    img {
      max-width: 100%;
    }
    @include owl-nav_;
    @include dots_;
    .owl-dots {
      display: block;
      bottom: 20px;
    }
    // .owl-dots {
    //   display: none;
    // }
  }
  .slider .owl-dots .owl-dot {
    opacity: 0.502;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
    @include xs {
      background-color: #000000;
      opacity: 0.502;
    }
    &.active {
      background-color: #79ceef;
      opacity: 1;
    }
  }
}

@include xs {
  .slider_parant {
    .slider {
      margin-bottom: 40px;
      .owl-nav {
        display: none;
      }
      // @include dots_;
      .owl-dots {
        display: block;
        bottom: 10px;
      }
    }
  }
}
